.profile-info-container {
    border: 1.5px solid var(--beige);
    width: 100%;
    border-radius: 12px;
    padding: 24px 120px;
    margin-top: 20px;
}

/* Título */
.title-section h3 {
    margin-bottom: 30px;
    font-size: 16px;
    font-weight: 700;
}

/* CONTENIDO GENERAL */
.public-info-content,
.personal-info-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-inline: 60px;
    justify-content: center;
    align-items: center;
}

/* FOTO Y BOTÓN */
.profile-photo-section {
    display: flex;
    align-items: center;
    gap: 25px;
    width: 60%;
}

.profile-photo {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
}

.change-photo-btn {
    background-color: transparent;
    border: 1px solid var(--beige);
    padding: 12px 20px;
    border-radius: 12px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 200ms ease, box-shadow 200ms ease, transform 200ms ease;
}

.change-photo-btn:hover {
    background-color: #d6c9b4;
}

.photo-hint {
    font-size: 13px;
    color: #607d8b;
    margin-top: 10px;
}

/* INPUTS */
.input-group {
    display: flex;
    width: 60%;
    align-items: center;
    gap: 60px;
}

.input-group label {
    font-size: 15px;
    color: #000000;
}

.input-group input {
    flex: 1;
    padding: 12px 14px;
    border: 1px solid #dedfe0;
    border-radius: 6px;
    font-size: 14px;
}

.input-group input:focus {
    outline: none;
    box-shadow: 0 0 0 2px var(--beige);
    border-color: #d6c9b4;
}

/* SEXO */
.gender-options {
    display: flex;
    gap: 20px;
    margin-top: 0px;
    padding-left: 12px;
}

.gender-option {
    border: 1px solid var(--beige);
    padding: 12px 20px;
    border-radius: 12px;
    cursor: pointer;
    text-align: center;
    font-size: 14px;
    color: #607d8b;
    transition: background-color 200ms ease, box-shadow 200ms ease, transform 200ms ease;
}

.gender-option:hover {
    background-color: #d6c9b4;
}

/* BOTÓN GUARDAR */
.save-btn {
    margin-top: 6px;
    align-self: center;
    background-color: transparent;
    border: 1px solid var(--beige);
    color: #000000;
    padding: 12px 25px;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 200ms ease, box-shadow 200ms ease, transform 200ms ease;
}

.save-btn:hover {
    background-color: #d6c9b4;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
    cursor: text;
}


/* RESPONSIVE */
@media (max-width: 990px) {

    .profile-info-container {
        padding: 20px;
    }

    .profile-photo-section {
        flex-direction: column;
        text-align: center;
    }

    .gender-options {
        flex-direction: column;
    }
}