.hide-left-sidebar {
    display: block;
    height: 100%;
    width: 15%;
    min-width: 200px;
    overflow-y: auto;
    overflow-x: visible;
    position: relative;
    z-index: 200;
}

.navbar-and-categoriesbar {
    width: 100%;
}

.sidebar-container {
    width: 100%;
    margin: auto;
    height: calc(100vh - 82px - 72px);
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.sidebar-right {
    width: 85%;
    height: 100%;
    background-color: #f6f9fc;
    display: flex;
    gap: 20px;
    padding: 30px;
    padding-block: 28px;
    overflow: auto;
    flex-wrap: wrap;
    overflow-y: auto;
    border-left: 1.3px solid #e7ebed;
    align-content: flex-start;
    justify-content: center;
    position: relative;
    z-index: 1;
}

.sidebar-right.chat-mode {
    padding: 0 !important;
    display: block;
    overflow: hidden;
    background-color: #efe9df;
    width: 85%;
    justify-content: unset;
    align-content: unset;
    flex-wrap: nowrap;
}

@media (max-width: 1000px) and (min-width: 800px) {
    .sidebar-container {
        height: calc(100vh - 153.6px);
    }
}

@media (max-width: 990px) {

    .sidebar-container {
        width: 100%;
    }

    .sidebar-right {
        width: 100%;
        gap: 10px;
        padding-inline: 20px;
    }

    .sidebar-right,
    .sidebar-right.chat-mode {
        width: 100%;
        border-left: none;
    }

    .hide-left-sidebar {
        display: none;
    }
}

@media (max-width: 800px) {
    .sidebar-container {
        width: 100%;
        height: calc(100vh - 118px);
    }
}