/* CONTAINER */
.stats-container {
    width: 100%;
    background-color: white;
    border: 1px solid var(--beige);
    border-radius: 12px;
    margin-top: 10px;
    overflow: hidden;
    padding-bottom: 10px;
    padding-top: 15px;
}

.finance-stats {
    width: 95%;
    border-radius: 10px;
    margin: auto;
    margin-top: 30px;
}