* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
}

/* Scrollbar */
*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background: #b7bec3;
    border-radius: 8px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #9aa1a6;
}

.sidebar-container {
    width: 100%;
    margin: auto;
    height: calc(100vh - 82px - 72px);
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border-top: 1.3px solid #e7ebed;
}

.show-left-sidebar {
    width: 15%;
    height: 100%;
    overflow-y: auto;
}

.sidebar-right-me {
    border: 1px solid #e0e0e0;
    width: 85%;
    height: 100%;
}

/* Estilos tablet y móvil */
@media (max-width: 990px) {

    .sidebar-container {
        height: calc(100vh - 70px - 72px);
    }

    .show-left-sidebar {
        width: 100%;
        height: auto;
        background: #f4f5f7;
        padding: 0;
        border: none;
        display: flex;
        flex-direction: column;
        gap: 18px;
        padding-block: 10px;
    }

    .sidebar-container {
        width: 100%;
    }

    .sidebar-right-me {
        display: none;
    }

}