.not-found-container {
    width: 100vw;
}

.not-found {
    width: 100%;
    text-align: center;
    color: #29363d;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 50px;
}

.not-found img {
    width: 480px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Título */
.not-found h3 {
    font-size: 18px;
    font-weight: 650;
    margin: 0;
    color: #000000;
}

/* Descripción */
.not-found p {
    font-size: 16px;
    line-height: 20px;
    color: #607d8b;
    line-height: 24px;
}

.back-home {
    align-items: center;
    background-color: #c7a87b;
    border-color: none;
    border-radius: 100px;
    border-style: solid;
    border-width: 0.8px;
    color: #fff;
    display: flex;
    margin-top: 20px;
    line-height: 24px;
    padding: 12px 24px;
    cursor: pointer;
    user-select: none;
    justify-content: center;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-home:hover {
    background-color: #a68153;
}

.back-home p {
    margin: 0;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
}

/* Tablets */
@media (max-width: 768px) {
    .not-found {
        padding: 30px 10px;
        margin-top: 5px;
    }

    .not-found h3 {
        font-size: 17px;
    }

    .not-found p {
        font-size: 13px;
        max-width: 350px;
    }

    .not-found img {
        width: 350px;
    }

    .back-home {
        margin-top: 10px;
        padding: 8px 20px;
    }
}

/* Móviles pequeños */
@media (max-width: 480px) {
    .not-found {
        padding: 25px 8px;
        gap: 4px;
    }

    .not-found h3 {
        font-size: 16px;
    }

    .not-found p {
        font-size: 12.5px;
        max-width: 220px;
    }
}