.product-container {
    background-color: white;
    border: 1.5px solid var(--beige);
    width: 100%;
    border-radius: 12px;
    padding: 20px;
    margin-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
}

@media (max-width: 600px) {
    .product-container {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px;
    }
}

@media (max-width: 787) {
    .product-container {
        grid-template-columns: repeat(3, 1fr);
    }
}