.details-content {
    background-color: white;
    width: 100%;
    border: 1.5px solid var(--beige);
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    /* Asegura que header y body estén uno sobre otro */
    align-items: center;
    /* Centra el contenido horizontalmente */
    padding-block: 20px;
    box-sizing: border-box;
}

.details-header {
    width: 80%;
    height: fit-content;
    margin-bottom: 20px;
}

.details-header h3 {
    color: #212529;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.details-body {
    width: 76%;
    /* Usamos el 100% pero controlamos el ancho con el padding o max-width interno */
    /* Margen de seguridad lateral */
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /* Centra las tarjetas cuando sobran espacios */
    flex-wrap: wrap;
    /* Permite que caigan abajo */
    gap: 20px;
}

.details-form {
    flex: 1 1 200px;
    /* Grow: 1, Shrink: 1, Basis: 200px */

    /* Límites */
    max-width: 380px;
    min-width: 200px;
    /* Asegura que nunca sea menor a 200px antes de romper */

    /* Estilos internos */
    display: flex;
    flex-direction: column;
    /* Para que label y box estén uno sobre otro */
    gap: 8px;
}

.details-label {
    width: 100%;
    font-size: 15px;
    color: #90a4ae;
}

.details-label p {
    margin: 0;
}

.details-box {
    width: 100%;
    height: 150px;
    border: 1.3px solid #eceff1;
    border-radius: 6px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.details-box p {
    color: #b0a18c;
    font-size: 14px;
}